#Note
{
    font-family: 'Edu NSW ACT Foundation', cursive;
    text-shadow: 3mm;
    
}

#copyright
{
    font-family: 'Edu NSW ACT Foundation', cursive;

    font-family: 'Edu SA Beginner', cursive;
}